header {
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}

.header-container div {

    border: 2px solid rgb(255, 255, 255);
    display: inline-block;
    padding: 5px;

}

.heading-con {
    margin-left: 12rem;
    margin-right: 12rem;
}

.l-logo-con {
    margin-left: 3rem;
}

nav {
    position: sticky;
    top: 1px;
    box-shadow: 0px 20px 25px 0px rgb(58, 57, 57);
}

.nav_list {
    background-color: black;
    text-align: center;

}
.nav_list a

{
    text-decoration: none;
}

.nav_item {
    display: inline-block;
    padding: 12px;
    width: 120px;
    margin-left: 5rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.nav_list li:hover {
    color: rgb(254, 157, 0);
}


#footer-bottom {
    background-color: black;
    height: 35px;
    color: white;
    font-weight: bold;
    text-align: center;
}
#footer-bottom p{
    margin-top: 0px;
    padding: 10px;
}

#footer-links li {
    text-decoration: none;
    display: block;
    margin: 2px;
    font-size: 14px;
    padding: 2px;
    text-align: justify;



}

#footer-links li:hover {
    color: #fdc800;

}

#get-in-touch {
    text-align: justify;
    font-size: 14px;

}

#clg_name {
    color: blue;
}

#footer-top {
    background-color: black;
    display: block;
}
.footer-item-con {
    text-align: center;
    color: white;

}
.footer-item {
    display: inline-block;
    text-align: center;
    border: none;
    margin: 0px 50px;


}

footer {
    font-size: 14px;

}

#footer-links a
{
    color: white;
    text-decoration: none;
    }